/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2015, 1:47:21 PM
    Author     : weolopez
*/

[contenteditable]:focus {
    margin: 2px;
    border: black groove thin; 
}
.selectedStory {
    margin: 2px;     
    border: black groove thin;
    
}
.story {
    /* margin: 10px; */
}
.storyEditHeader {
    padding-right: 0 0 0 10px;
}
.storyEditRadio {
    padding-right: 10px;
}
.storyEditAttributeHeader {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 6px 6px 6px;
    margin: -6px -6px -6px -3px;
    border: none;
}
.storyEditAttribute {
    overflow: hidden;
    padding: 10px 75px 10px 10px;
    text-overflow: clip;
    /* padding: 10px; */
    /* height: 30px; */
    /* vertical-align: middle; */
}

[ng-drag].drag-over {
    border: solid 1px black;
}
[ng-drag].dragging {
    opacity: 0.7;
}
[ng-drop].drag-enter {
    border: solid 3px black;
}

.btn {
	  float: left;
	  display: block;
  
	  background-color: #F7F7F9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  
	  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  
	  color: black;
  
	  margin: 3px 3px 3px 3px;
  
	  width: 39px;
  
	  height: 40px;
  position: relative;
  
	  text-align: center;
  
	  padding: 0;
	  line-height: 38px;
  border-radius: 50%;
  
	  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	  font-size: 12px;
}
.btn.active {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.btn.ion-share {
    width: 35px;
    height: 35px;
    top: -4px;
    left: -2px;
}
.btn.ion-share.active {
}
.btn.ion-share:before {
    position: absolute;
    left: 7px;
    top: 3px;
    font-size: 1.8em;
}
#leadtext {
    margin:  0 0 0 3px;
    line-height: 22px;
    color: silver;
}