<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-title>
                <span style="   text-decoration: underline;
                                text-decoration-color: {{app.page.current.source.color}};"
                    >
                    {{app.page.current.title}}
                </span>
            </ion-nav-title>
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                
                    <img ng-src="{{app.user.getImage(app.user.user.name)}}" style="width: 35px;border-radius: 50%;" >
                </a>

                <!--button class="btn" 
                     ng-click= "app.page.setSource(key);"
                     style="background-color: {{app.page.current.source.color}} !important"
                     ng-class="{'active':app.page.edit"
        >{{app.page.current.source.name}}</button-->       
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        
        <ion-nav-view name="pageContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <wikipage pagename="pages"></wikipage>
    </ion-side-menu>
</ion-side-menus>