
.wiki-page-view {
    margin-top: 25px;

    margin-left: -11px;
}

.ace_line {
    overflow-scroll: true;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select:  text;
}